.navbar {
  background: var(--light-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: var(--navbar-z-index);

  .appLogo {
    padding: 5px 20px;
  }

  .actions {
    margin-left: 20px;
  }

  .links {
    margin: 0 20px;
  }

  .lang {
    margin-left: 20px;
    font-weight: bold;
  }

  .hamburger {
    display: none;
  }

  .navItems {
    display: flex;
  }

  .dropdownMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--light-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    width: 100%;
  }

  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }

    .navItems {
      display: none;
    }

    .dropdownMenu {
      display: flex;
    }
  }
}