.dropdown {
  position: relative;
}

.menu {
  margin-top: 20px;
  background: var(--dark-bg);
  position: absolute;
  z-index: var(--dropdown-menu-z-index);
  flex-direction: column;
  display: flex;
}

.item {
  padding: 10px 15px;
  width: 100%;
  min-width: 150px;
  border: none;
  background: none;
  outline: none;
  color: var(--text);
  cursor: pointer;

  &:hover {
    background-color: var(--hint);
    color: var(--accent);
  }
}