.baseLayout {
  min-height: 100vh;
}

.navbar {
  width: 100%;
  background: var(--light-bg);
  caret-color: transparent;
  position: sticky;
  top: 0;
  z-index: var(--navbar-z-index);
}

.content {
  flex: 1;
  max-width: 100vmax;
  padding: 32px;
  width: 100%;
}