.mainLayout {
  display: grid;
  grid-template-areas:
    "top"
    "left content right";
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: auto 1fr;
}

.top {
  grid-area: top;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 16px;
}

.left {
  grid-area: left;
}

.content {
  grid-area: content;
  max-width: 1200px;
  justify-self: center;
  padding: 0 16px;
  width: 100%;
}

.right {
  grid-area: right;
}

.left,
.right {
  position: sticky;
  top: 32px;
  height: fit-content;
}