.summaryRow {
  font-weight: bold;
  background-color: var(--info);
}

th,
td {
  max-width: 2vw;
  color: var(--text);
  text-align: center;
  border-bottom: 1px solid var(--text-table);
  text-align: center;

  &:first-child {
    text-align: left;
  }

  &:last-child {
    border-right: none;
  }
}

th {
  background-color: var(--icon, #f4f4f4);
  color: var(--text-table);
  font-weight: bold;
  user-select: none;
  white-space: nowrap;
}

td:hover {
  color: var(--accent);
}

tr {
  &:hover {
    background-color: var(--hint);

  }
}

tbody tr:last-child td {
  border-bottom: none;
}