.employeeTimeTablePage {
  caret-color: transparent;

  .monthSelect {
    text-align: center;
    padding: 5px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    font: bold var(--font-sm);
    max-width: 300px;
  }

  .timeCard {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--accent);
    font-size: var(--font-s);
    background-color: var(--light-bg, #fff);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    th,
    td {
      max-width: 2vw;
      color: var(--text);
      text-align: center;
      border-bottom: 1px solid var(--text-table);
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        border-right: none;
      }
    }

    th {
      background-color: var(--icon, #f4f4f4);
      color: var(--text-table);
      font-weight: bold;
      user-select: none;
      white-space: nowrap;
    }

    td:hover {
      color: var(--accent);
    }

    .verticalHeader {
      writing-mode: vertical-lr;
      height: 100px;
      vertical-align: center;
      text-align: center;
      background-color: var(--icon, #f4f4f4);
    }

    .weekend {
      background-color: var(--column-table-normal);
      color: var(--text-table)
    }

    .holiday {
      background-color: var(--column-table-accent);
      color: var(--text-table)
    }

    tr {
      &:hover {
        background-color: var(--hint);

      }
    }

    tbody tr:last-child td {
      border-bottom: none;
    }
  }

  .summaryRow {
    font-weight: bold;
    background-color: var(--info);

  }

  .inputCell {
    max-width: 1.2vw;
    caret-color: auto;

    input {
      width: 100%;
      padding: 3px;
      border: 1px dotted var(--info);
      text-align: center;
      text-transform: uppercase;
    }
  }

  .fullNameColumn {
    min-width: 100px;
    width: 200px;
    white-space: nowrap;
  }
}