.app_blue_theme {
  /* main colors */
  --light-bg: #a0b6cd;
  --bg: #8ca9c6;
  --dark-bg: #4a5d71;

  --text: #000000;
  --hint: #828282;
  --cancel: #d95757;
  --save: #00ff08;
  --icon: #ff8400;
  --accent: #ffb15f;
  --info: #cfcfcf;
  --text-table: #e2f0ff;
  --column-table-normal: #4a5d71;
  --column-table-accent: #009605;
}