.app_dark_theme {
  /* main colors */
  --dark-bg: #0a1d23;
  --bg: #0f1b1f;
  --light-bg: #212c31;
  --text: #dbdbdb;
  --hint: #555;
  --cancel: #d95757;
  --save: #6cd98b;
  --icon: #57b3d2;
  --accent: #4fe8ff;
  --info: #cfcfcf;
}