.app_light_theme {
  --light-bg: #fff;
  --bg: #cde3e7;
  --dark-bg: #e2eef1;
  --text: #141c1f;
  --hint: #adbcc0;
  --cancel: #f77;
  --save: #29e15d;
  --icon: #5ba7c1;
  --accent: #23dffc;
  --info: #cfcfcf;
  --text-table: #fff;
  --column-table-normal: #555;
  --column-table-accent: #009605;
}