.app_orange_theme {
  --light-bg: #fff3d6;
  --bg: #ffb700;
  --dark-bg: #e5d09c;
  --text: #1b1311;
  --hint: #b8b2a2;
  --cancel: #ff5e5e;
  --save: #37fb6f;
  --icon: #375fcd;
  --accent: #881585;
}