.app_orange_theme {
  --light-bg:
    #F2D791;
  --bg: #ffb300;
  --dark-bg: #FBF9F4;
  --text: #1b1311;
  --hint: #fffbef;
  --cancel: #ff5e5e;
  --save: #37fb6f;
  --icon: #375fcd;
  --accent: #1D59FF;
  --info: #cfcfcf;
  --text-table: #fff;
}