.app_violet_theme {
  --light-bg: #320450;
  --bg: #0e0116;
  --dark-bg: #0e0116;
  --text: #ffffff;
  --hint: #a589a6;
  --cancel: #ff5e5e;
  --save: #37fb6f;
  --icon: #ff79f6;
  --accent: #ff00ee;
  --info: #cfcfcf;
  --text-table: #fff;
  --column-table-normal: #555;
  --column-table-accent: #009605;
}