.genericTable {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--light-bg, #fff);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  caret-color: transparent;

  .searchInput {
    margin: 20px 0;
  }

  th,
  td {
    padding: 10px 15px;
    color: var(--text);
    text-align: center;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-right: none;
    }
  }

  td:hover {
    color: var(--accent);
  }

  th {
    background-color: var(--icon, #f4f4f4);
    color: var(--text-table);
    font-weight: bold;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
  }

  tr {
    &:hover {
      background-color: var(--hint);
    }
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}