  .starsBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="white"><polygon points="5,1 6,4 9,4 6.5,6 7.5,9 5,7 2.5,9 3.5,6 1,4 4,4"/></svg>');
    animation: twinkle 15s infinite ease-in-out;
  }

  .astronaut {
    width: 150px;
    height: 150px;
    animation: float 6s ease-in-out infinite;
  }

  .homeButton {
    cursor: pointer;
    animation: pulse 2s infinite;
  }


  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes twinkle {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -10000px 5000px;
    }
  }

  @keyframes pulse {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }
  }