.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  caret-color: transparent;
}

.paginationButton {
  margin: 0 5px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}