.signInForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;

  @media (max-width: 600px) {
    width: 90%;
  }
}

.input {
  margin-top: 10px;
  width: 100%;
}

.signInBtn {
  margin-top: 15px;
  margin-left: auto;
  width: 100%;

  @media (max-width: 600px) {
    width: 100%;
  }
}